<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<uses-feature
		android:name="android.hardware.telephony"
		android:required="false" />

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.SEND_SMS" />

	<application
		android:allowBackup="true"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:fullBackupContent="@xml/backup_rules"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/Theme.MobileProgramming"
		tools:targetApi="31">
		<activity
			android:name=".HelpActivity"
			android:exported="false" />
		<activity
			android:name=".SettingActivity"
			android:exported="false" />
		<activity
			android:name=".AboutActivity"
			android:exported="false" />
		<activity
			android:name=".Tugas06RecyclerViewContextMenuActivity"
			android:exported="false" />
		<activity
			android:name=".Tugas05FragmentListActivity"
			android:exported="false" />
		<activity
			android:name=".Tugas04DetailViewActivity"
			android:exported="false"
			android:parentActivityName=".Tugas04ListViewActivity" />
		<activity
			android:name=".Tugas04ListViewActivity"
			android:exported="false" />
		<activity
			android:name=".Tugas04PickerViewActivity"
			android:exported="false" />
		<activity
			android:name=".Tugas04Activity"
			android:exported="false" />
		<activity
			android:name=".Tugas03Layout02Activity"
			android:exported="false" />
		<activity
			android:name=".Tugas03Layout01Activity"
			android:exported="false" />
		<activity
			android:name=".Tugas03Activity"
			android:exported="false" />
		<activity
			android:name=".Tugas02ImplicitIntentActivity"
			android:exported="false" />
		<activity
			android:name=".Tugas02ExplicitIntentActivity"
			android:exported="false" />
		<activity
			android:name=".Tugas01Activity"
			android:exported="false" />
		<activity
			android:name=".MainActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>
